h1{
    text-align: center;
    color: #186F65;
    background-color: #B5CB99;
    border-radius: 10px;
    padding: 15px;
}

h2{
    color: #186F65;
}

body{
    background-color: #FCE09B;
}

div{
    text-align: center;
    margin: 20px;
    align-items: center;
}

nav .Links, nav .links a {
  display: flex;
  gap: 30px; 
  justify-content: center;
  flex: 1;
  font-weight: bold;
}

a{
    text-decoration: none;
    color: #B2533E;
}

#now{
    text-decoration: underline;
}

.cat.info{
    background-color: #B5CB99;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

p{
    color: #194f49
}

img{
    border-radius: 8px;
    object-fit: cover;
    margin-top: 15px;
    }
